.form-input:focus{
    box-shadow: unset;
}
/* .PhoneInputCountry {
    display: none !important;
} */

input.align-middle.size-4{
   scale: 1.5;
    margin-right: 12px;
}
.PhoneInputCountrySelectArrow {
    opacity: 1 !important;
    --PhoneInputCountrySelectArrow-color: var(--color-black) !important;
}
.enquire-form .error {
    font-weight: 600;
    font-family: var(--font-semibold);
}
.enquire-form h5 {
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    font-family: var(--font-semibold);
}
.popup-form svg {
    color: var(--color-white);
}
.enquire-form .form-row {
    padding: 5px 0 !important;
}
.enquire-form input,
.enquire-form .PhoneInput {
    background-color: #FFFDFDAB !important;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-medium);
    border: 1px solid var(--color-white) !important;
    color: var(--color-black);
    border-radius: 8px !important;
    padding: 10px 15px !important;
}
.enquire-form .PhoneInput input {
    background-color: var(--color-transparent) !important;
    border: unset !important;
    padding: 0 5px !important;
}
.enquire-form input::placeholder {
    color: #686868;
}
.enquire-form .submit_btn {
    background-color: var(--color-transparent) !important;
    color: var(--color-white);
    width: 100%;
    text-transform: uppercase;
    padding: 10.5px 20px !important;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    border: 1px solid var(--color-white) !important;
}
.enquire-form .submit_btn:hover {
    background-color: #FFFDFDAB !important;
    color: var(--color-black) !important;
}
.enquire-form .form_label {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    margin-bottom: 10px;
    color: var(--color-white);
}
.price_range_group {
    flex-wrap: wrap;
    gap: 10px;
}
.price_range_group .btn {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-family: var(--font-medium);
    color: #FFFFFF;
    background-color: var(--color-transparent);
    border: 0.5px solid #FFFFFF !important;
    border-radius: 4px !important;
    width: auto;
    flex: unset;
    min-width: 110px;
}
.price_range_group .btn-check:checked+.btn,
.price_range_group .btn:active,
.price_range_group .btn:hover {
    background-color: #FFFDFDAB;
    color: var(--color-black);
}
.enquire-form .checkbox_div {
    margin-top: 0.5rem !important;
    font-size: 14px;
    color: var(--color-white);
    align-items: start;
}
.custom-checkbox input {
  display: none;
}
.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  background: var(--color-transparent);
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 3px 5px 0 0;
}

.custom-checkbox input:checked + .checkmark {
  background: #FFFDFDAB;
  border-color: #FFFDFDAB;
}

/* Check icon */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  border-color: var(--color-black);
}
@media (max-width: 767px) {
    .enquire-form h5 {
        font-size: 20px;
    }
    .enquire-form input,
    .enquire-form .PhoneInput {
        font-size: 14px;
        padding: 7px 20px !important;
    }
    .enquire-form .submit_btn {
        padding: 8px 20px !important;
    }
    .popup-form {
        padding: 0 !important;
    }
    .popup-form .enquire-form {
        padding-bottom: 10px;
    }
}
@media (max-width: 480px) {
    .css-19eiqil-MuiModal-root-MuiDialog-root .MuiDialog-container .MuiPaper-root {
        padding: 15px 10px !important;
    }
    .enquire-form .checkbox_div {
        font-size: 11px;
    }
    .price_range_group .btn {
        min-width: auto;
        font-size: 11px;
    }
}