.home-amenities-section {
    background-color: #372401;
    position: relative;
}
.home-amenities-section .amenities_section_bg {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.home-amenities-section .container {
    position: relative;
    max-width: 1040px;
}
.home-amenities-section .main_heading {
    color: var(--color-white);
}
.amenities_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 2rem;
}
.amenities_grid_item {
    border: 1px solid #FFFFFF7A;
    color: var(--color-white);
    padding: 1rem;
    min-height: 235px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.amenities_grid_item .amenities_icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}
.amenities_grid_item .amenities_text {
    min-height: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-semibold);
}
@media (max-width: 991px) {
    .amenities_grid_item .amenities_icon {
        width: 48px;
        height: 48px;
    }
    .amenities_grid_item {
        min-height: 180px;
    }
}
@media (max-width: 767px) {
    .amenities_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .amenities_grid_item .amenities_text {
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    
    .amenities_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .amenities_grid_item .amenities_icon {
        width: 30px;
        height: 30px;
    }
    .amenities_grid_item {
        min-height: 150px;
    }
}