
.yarl__portal_open {
    z-index: 99999999;
}
.gallery_section {
    background-color: var(--color-black);
    position: relative;
    padding: 6rem 0;
}
.gallery_section .gallery_bg_image {
    opacity: 16%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.gallery_section .container {
    position: relative;
}
.gallery_section  .main_heading {
    margin-bottom: 1rem;
    color: var(--color-white);
}
/* Gallery Tabs */
.gallery_tabs {
    padding: 0rem 0 4rem;
    gap: 10px;
	justify-content: center;
}
.gallery_tabs .nav-link {
    background-color: var(--color-btn-bg);
    border: 1px solid var(--color-btn-bg);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
    border-radius: 8px;
}
.gallery_tabs .nav-link.active,
.gallery_tabs .nav-link:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
    border-color: var(--color-yellow);
}
.gallery-images-list .gallery-image img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.gallery-images-list .gallery-image:hover img {
    filter: grayscale(0%);
}
.gallery-images-list .gallery-image.gallery_0 {
    border-top-left-radius: 250px;
}
.gallery-images-list .gallery-image.gallery_2 {
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}
.gallery-images-list .gallery-image.gallery_6 {
    border-bottom-right-radius: 250px;
}
.gallery-images-list .gallery_logo_img {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    margin: auto;
    align-items: center;
    display: flex !important;
    object-fit: contain !important;
    max-width: 188px !important;
    max-height: 188px !important;
    transform: unset !important;
    filter: grayscale(0%) !important;
}
@media (max-width: 991px) {
    .gallery_tabs .nav-link  {
        font-size: 16px;
    }
    .gallery-images-list .gallery_logo_img {
        top: 50px;
        max-width: 150px !important;
        max-height: 150px !important;
    }
}
@media (max-width: 767px){
	.gallery-images-list{
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 5px !important;
	}
    .gallery-images-list .gallery-image.gallery_0 {
        order: 0;
    }
    .gallery-images-list .gallery-image.gallery_2 {
        order: 1;
    }
    .gallery-images-list .gallery-image.gallery_6 {
        grid-column-end: span 2 !important;
        grid-row-end: span 2 !important;
    }
	.gallery-images-list .gallery-image {
		width: 100% !important;
		height: 280px !important;
        grid-column-end: span 1 !important;
        grid-row-end: span 1 !important;
        order: 2;
	}
    .gallery_section {
        padding-bottom: 4rem;
    }
    .gallery-images-list .gallery_logo_img {
        top: 30px;
        max-width: 100px !important;
        max-height: 100px !important;
    }
}
@media (max-width: 575px) {
    .gallery-images-list .gallery-image {
        height: 180px !important;
    }
    .gallery-images-list .gallery_logo_img {
        top: 20px;
        max-width: 60px !important;
        max-height: 60px !important;
    }
}
@media (max-width: 450px) {
    .gallery-images-list .gallery-image {
        height: 150px !important;
    }
}

.effect.effect-one {
	/* background: #18a367; */
	position: relative
}

.effect.effect-one img {
	transform: scale(1, 1)
}

.effect.effect-one img
{
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s
}

.effect.effect-one:hover img {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0) scale(1.3, 1.3)
}


.effect.effect-one:hover img{
	-webkit-transition-delay: .15s;
	transition-delay: .15s
}
