
.yarl__portal_open {
    z-index: 99999999;
}
.gallery_section  .main_heading {
    margin-bottom: 1rem;
}
/* Gallery Tabs */
.gallery_tabs {
    padding: 0rem 0 2rem;
    gap: 10px;
	justify-content: center;
}
.gallery_tabs .nav-link {
    background-color: var(--color-btn-bg);
    border: 1px solid var(--color-border);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
    border-radius: 8px;
}
.gallery_tabs .nav-link.active,
.gallery_tabs .nav-link:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
}
@media (max-width: 991px) {
    .gallery_tabs .nav-link  {
        font-size: 16px;
    }
}
@media (max-width: 767px){
	.gallery-images-list{
        grid-template-columns: repeat(3, 1fr) !important;
	}
    .gallery-images-list .gallery-image.gallery_1 {
        grid-column-end: span 2 !important;
		grid-row-end: span 1 !important;
    }
	.gallery-images-list .gallery-image.gallery_5,
    .gallery-images-list .gallery-image.gallery_6 {
        grid-column-end: span 3 !important;
        grid-row-end: span 2 !important;
    }
	.gallery-images-list .gallery-image {
		width: 100% !important;
		height: 280px !important;
        grid-column-end: span 1 !important;
        grid-row-end: span 1 !important;
	}
    .gallery_section {
        padding-bottom: 4rem;
    }
}
@media (max-width: 575px) {
    .gallery-images-list .gallery-image {
        height: 180px !important;
    }
}
@media (max-width: 450px) {
    .gallery-images-list .gallery-image {
        height: 150px !important;
    }
}

.effect.effect-one {
	/* background: #18a367; */
	position: relative
}

.effect.effect-one img {
	transform: scale(1, 1)
}

.effect.effect-one img
{
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s
}

.effect.effect-one:hover img {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0) scale(1.3, 1.3)
}


.effect.effect-one:hover img{
	-webkit-transition-delay: .15s;
	transition-delay: .15s
}
