.home-ClubZaira-section .paragraph {
    margin-bottom: 1rem;
}
.clubzaira_rounded_section {
    margin: 4rem 0 2rem;
    border-radius: 0 250px 250px 0;
    position: relative;
}
.clubzaira_rounded_section::after {
    content: "";
    border: 2px solid var(--color-white);
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 250px 250px 0;
    display: flex;
    margin: auto;
}
.clubzaira_rounded_section .club_zaira_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0 250px 250px 0;
    object-fit: cover;
    max-width: 850px;
}
.clubzaira_rounded_inner {
    position: relative;
    max-width: 496px;
    background-color: var(--color-yellow);
    padding: 40px;
}
.clubzaira_content_div {
    position: relative;
    z-index: 1;
}
.clubzaira_rounded_inner::after {
    content: "";
    width: 107px;
    background: linear-gradient(270deg, rgba(194, 124, 0, 0) 0%, #C27C00 100%);
    right: -107px;
    top: 0;
    height: 100%;
    position: absolute;
}
.clubzaira_content_div .rera_number {
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.clubzaira_content_div .includge_content {
    margin: 2rem 0 0.5rem;
    text-align: center;
}
.clubzaira_content_div .includge_text {
    font-size: 45px;
    line-height: 35px;
    color: var(--color-black);
    text-transform: uppercase;
}
.clubzaira_content_div .includge_text.white {
    color: var(--color-white);
}
.clubzaira_content_div .biggest_text.paragraph {
    font-weight: 400;
    font-family: var(--font-regular);
}
.clubzaira_content_div .paragraph {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
.clubzaira_content_div .logo_icon {
    width: 51px;
    height: 51px;
    object-fit: contain;
    margin: 0.5rem auto;
}
.clubzaira_content_div .sensation_text {
    font-family: "Sansation";
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 4.3px;
    text-align: center;
}
.clubzaira_content_div .sensation_text.club_text {
    font-size: 25px;
    letter-spacing: 2.5px;
}
.clubzaira_content_div .vamana_logo_white {
    width: 243px;
    object-fit: contain;
    margin: 0.5rem auto 0.5rem;
}
@media (max-width: 991px) {
    .clubzaira_content_div .includge_text {
        font-size: 35px;
        line-height: 28px;
    }
    .clubzaira_content_div .paragraph {
        font-size: 14px;
    }
    .clubzaira_content_div .logo_icon {
        width: 45px;
        height: 45px;
    }
    .clubzaira_content_div .sensation_text {
        font-size: 10px;
    }
    .clubzaira_content_div .sensation_text.club_text {
        font-size: 20px;
    }
    .clubzaira_content_div .vamana_logo_white {
        width: 155px;
    }
    .clubzaira_rounded_inner {
        max-width: 355px;
    }
}
@media (max-width: 767px) {
    .home-ClubZaira-section .btn-yellow-border {
        display: none;
    }
    .clubzaira_rounded_section {
        border-radius: 200px 200px 0 0;
        padding-top: 319px;
        max-width: 400px;
        margin: 4rem auto 2rem;
    }
    .clubzaira_rounded_section .club_zaira_bg,
    .clubzaira_rounded_section::after {
        border-radius: 200px 200px 0 0;
    }
    .clubzaira_rounded_section .club_zaira_bg {
        max-height: 344px;
    }
    .clubzaira_rounded_inner::after {
        height: 61px;
        width: 100%;
        top: -61px;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(194, 124, 0, 0) 0%, #C27C00 100%);
    }
    .clubzaira_rounded_inner {
        max-width: 100%;
    }
}