.banner_slider {
    position: relative;
    height: 100vh;
    min-height: 750px;
}
.banner_slider .banner_slider_item {
    height: 100vh;
    min-height: 750px;
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.banner_slider_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.banner_slider_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    min-height: 750px;
    padding: 91px 30px 20px;
    width: 75%;
}
.banner_slider_text_inner {
    max-width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.bannner_slider_white_box {
    width: 346px;
    height: 100%;
    background-color: #D9D9D9D9;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    max-height: 650px;
}
.banner_slider_text .booking_text {
    font-size: 25px;
    line-height: 27px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-yellow);
}
.logo_location {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.logo_location .logo_image {
    margin: auto;
    height: 29px;
}
.points_block .points_block_text {
    font-size: 16px;
    line-height: 23px;
    color: var(--color-black);
}
.banner_gradient_block {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.banner_gradient_block .banner_gradient_text {
    background: linear-gradient(90deg, #32281D 0%, #9B680A 100%);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-white);
    padding: 6px 20px;
}
.banner_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner_bottom_text .starting_price_text {
    font-size:16px;
    line-height: 20px;
    color: var(--color-black);
}
.banner_bottom_text .banner_price {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-red);
    margin-top: 1rem;
}
.banner_bottom_text .banner_enquire_btn {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-white);
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    padding: 5.5px 20px;
    min-width: 176px;
    width: max-content;
    margin: auto;
}
.banner_bottom_text .banner_enquire_btn:hover {
    background-color: var(--color-transparent);
    color: var(--color-yellow);
}
@media (min-height: 1000px) {
    .bannner_slider_white_box {
        justify-content: center;
    }
}
@media (min-width: 2200px) and (min-height: 1100px) {
    .bannner_slider_white_box {
        width: clamp(346px, 35%, 650px);
        justify-content: center;
    }
}
@media (min-width: 1600px) and (min-height: 800px) {
    .bannner_slider_white_box {
        max-height: 700px;
    }
}
@media (min-width: 1500px) and (min-height: 700px) {
    .bannner_slider_white_box {
        width: clamp(346px, 35%, 580px);
    }
    .banner_slider_text .booking_text {
        font-size: clamp(25px, 4vh, 28px);
        line-height: 1.4;
    }
    .logo_location {
        font-size: clamp(18px, 3vh, 24px);
    }
    .points_block .points_block_text {
        font-size: clamp(16px, 2vh, 20px);
        line-height: 1.3;
    }
    .banner_gradient_block .banner_gradient_text {
        font-size: clamp(14px, 2vh, 18px);
    }
    .banner_bottom_text .starting_price_text {
        font-size: clamp(16px, 2vh, 20px);
        line-height: 1.4;
    }
    .banner_bottom_text .banner_price {
        font-size: clamp(28px, 4vh, 34px);
        line-height: 1;
        margin-top: clamp(1rem, 3vh, 3rem);
    }
    .banner_bottom_text .banner_enquire_btn {
        font-size: clamp(18px, 2vh, 24px);
    }
}
/* @media (max-width: 1199px) {
    .banner_slider_text_inner {
        max-width: 85%;
    }
}
@media (max-width: 767px) {
    .banner_slider_text_inner {
        max-width: 90%;
    }
} */
@media (max-width: 575px) {
    .banner_slider_text {
        position: relative;
        padding: 0 15px;
        top: -7px;
    }
    .banner_slider .banner_slider_item {
        padding: 0;
        min-height: 600px;
    }
    .banner_slider_text_inner {
        max-width: 100%;
    }
    .banner_slider_text {
        height: auto;
        min-height: auto;
    }
    .bannner_slider_white_box {
        gap: 1rem;
        max-width: 346px;
        width: 100%;
        margin: auto;
    }
}

/* New CSS */
.banner_context_form_flex {
    display: flex !important;
    height: 100%;
    width: 75%;
}
.right_fixed_sidebar {
    margin-top: 72px;
    background-color: var(--color-white);
    width: 25%;
    position: relative;
    border-top-left-radius: 8px;
    border-left: 1px solid var(--color-yellow);
    border-bottom: 1px solid var(--color-yellow);
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px);
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}
.right_fixed_schedule {
    background-color: var(--color-transparent);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 8px;
    width: max-content;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-medium);
    padding: 8px 16px;
}
.right_fixed_schedule:hover,
.right_fixed_schedule:active {
    background-color: var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
}
.right_fixed_sidebar .bottom_fixed_sidebar {
    padding: 1.5vw 1.5vw;
    display: flex;
    flex-direction: column;
}
.right_fixed_sidebar .price_list_heading_block .form_logo {
    width: 5.5vw;
}
.right_fixed_sidebar .enquire-form h5 {
    font-size: 1.1vw;
    font-weight: 700;
    font-family: var(--font-bold);
    text-align: center;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 1.5rem;
    display: none;
}
.right_fixed_sidebar .price_list_heading {
    font-size: 1.2vw;
    line-height: 1.3;
}
.right_fixed_sidebar .enquire-form .form_label,
.right_fixed_sidebar .we_get_row .form_label {
    font-size: 1.1vw;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.right_fixed_sidebar .price_range_group .btn {
    font-size: 0.75vw;
    padding: 0.6vw 0.3vw;
}
.right_fixed_sidebar .enquire-form input,
.right_fixed_sidebar .enquire-form .PhoneInput,
.right_fixed_sidebar .enquire-form .submit_btn {
    font-size: 1vw;
    padding: 0.4vw 1vw !important;
    width: 100%;
    margin-top: 0 !important;
}
.right_fixed_sidebar .enquire-form .PhoneInput input {
    padding: 0 10px !important;
}
.right_fixed_sidebar .enquire-form .checkbox_div {
    font-size: 0.75vw;
    margin-top: 0.8rem !important;
}
.right_fixed_sidebar .custom-checkbox .checkmark {
    width: 1vw;
    height: 1vw;
}
.right_fixed_sidebar .we_get_row .form_label {
    color: var(--color-yellow);
    border-top: 1px solid var(--color-yellow);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
.right_fixed_sidebar .we_get_div_grid {
    gap: 6px;
}
.right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
    font-size: 0.65vw;
    color: var(--color-black);
}
.right_fixed_sidebar .price_list_heading_block {
    padding-bottom: 0.5rem;
}
.right_fixed_sidebar .price_list_subtext {
    margin-bottom: 1rem;
    font-size: 0.9vw;
    line-height: 1.3;
}
@media (min-height : 800px) {
    .right_fixed_sidebar .bottom_fixed_sidebar {
        padding: 1.5vw;
    }
}
@media (min-width: 1500px) {
    .right_fixed_sidebar {
        margin-top: 72px;
        height: calc(100% - 72px);
    }
    .right_fixed_sidebar .price_list_heading {
        font-size: 1.3vw;
    }
}
@media (max-width: 1350px) {
    .right_fixed_sidebar {
        margin-top: 70px;
        height: calc(100% - 70px);
    }
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 0.7vw;
    }
}
@media (max-width: 1199px) {
    .right_fixed_sidebar {
        margin-top: 67px;
        height: calc(100% - 67px);
        width: 27%;
    }
    .right_fixed_schedule {
        font-size: 16px;
    }
    .banner_context_form_flex {
        width: 73%;
    }
    .right_fixed_sidebar .enquire-form h5 {
        font-size: 1.3vw;
    }
    .right_fixed_sidebar .price_range_group .btn {
        font-size: 0.9vw;
    }
    .right_fixed_sidebar .enquire-form input,
    .right_fixed_sidebar .enquire-form .PhoneInput,
    .right_fixed_sidebar .enquire-form .submit_btn {
        font-size: 1.2vw;
        padding: 0.6vw 1vw !important;
    }
    .right_fixed_sidebar .enquire-form .PhoneInput input {
        padding: 0 10px !important;
    }
    .right_fixed_sidebar .enquire-form .checkbox_div,
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 0.85vw;
    }
    .right_fixed_sidebar .custom-checkbox .checkmark {
        width: 1.2vw;
        height: 1.2vw;
    }
    .right_fixed_sidebar .price_list_heading {
        font-size: 1.4vw;
    }
}
@media (max-width: 1099px) {
    .right_fixed_sidebar .we_get_div_grid .we_get_div_item .we_get_text {
        font-size: 1vw;
    }
    
    .right_fixed_sidebar .price_list_subtext {
        font-size: 1vw;
        margin-bottom: 0.8rem;
    }
}
@media (max-width: 991px) {
    .right_fixed_sidebar {
        display: none;
    }
    .banner_context_form_flex {
        width: 100%;
    }
}