.banner_slider {
    position: relative;
}
.banner_slider .banner_slider_item {
    height: 100vh;
    min-height: 720px;
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.banner_slider_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.banner_slider_text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    min-height: 720px;
    padding: 91px 30px 20px;
    width: 100%;
}
.banner_slider_text_inner {
    max-width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.bannner_slider_white_box {
    width: 346px;
    height: 100%;
    background-color: #D9D9D9D9;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    max-height: 650px;
}
.banner_slider_text .booking_text {
    font-size: 25px;
    line-height: 27px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-yellow);
}
.logo_location {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-black);
}
.logo_location .logo_image {
    margin: auto;
    height: 29px;
}
.points_block .points_block_text {
    font-size: 16px;
    line-height: 23px;
    color: var(--color-black);
}
.banner_gradient_block {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.banner_gradient_block .banner_gradient_text {
    background: linear-gradient(90deg, #32281D 0%, #9B680A 100%);
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-white);
    padding: 6px 20px;
}
.banner_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner_bottom_text .starting_price_text {
    font-size:16px;
    line-height: 20px;
    color: var(--color-black);
}
.banner_bottom_text .banner_price {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-red);
    margin-top: 1rem;
}
.banner_bottom_text .banner_enquire_btn {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--color-white);
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    padding: 5.5px 20px;
    min-width: 176px;
    width: max-content;
    margin: auto;
}
.banner_bottom_text .banner_enquire_btn:hover {
    background-color: var(--color-transparent);
    color: var(--color-yellow);
}
@media (min-height: 1000px) {
    .bannner_slider_white_box {
        justify-content: center;
    }
}
@media (min-width: 2200px) and (min-height: 1100px) {
    .bannner_slider_white_box {
        width: clamp(346px, 35%, 650px);
        justify-content: center;
    }
}
@media (min-width: 1600px) and (min-height: 800px) {
    .bannner_slider_white_box {
        max-height: 700px;
    }
}
@media (min-width: 1500px) and (min-height: 700px) {
    .bannner_slider_white_box {
        width: clamp(346px, 35%, 580px);
    }
    .banner_slider_text .booking_text {
        font-size: clamp(25px, 4vh, 28px);
        line-height: 1.4;
    }
    .logo_location {
        font-size: clamp(18px, 3vh, 24px);
    }
    .points_block .points_block_text {
        font-size: clamp(16px, 2vh, 20px);
        line-height: 1.3;
    }
    .banner_gradient_block .banner_gradient_text {
        font-size: clamp(14px, 2vh, 18px);
    }
    .banner_bottom_text .starting_price_text {
        font-size: clamp(16px, 2vh, 20px);
        line-height: 1.4;
    }
    .banner_bottom_text .banner_price {
        font-size: clamp(28px, 4vh, 34px);
        line-height: 1;
        margin-top: clamp(1rem, 3vh, 3rem);
    }
    .banner_bottom_text .banner_enquire_btn {
        font-size: clamp(18px, 2vh, 24px);
    }
}
/* @media (max-width: 1199px) {
    .banner_slider_text_inner {
        max-width: 85%;
    }
}
@media (max-width: 767px) {
    .banner_slider_text_inner {
        max-width: 90%;
    }
} */
@media (max-width: 575px) {
    .banner_slider_text {
        position: relative;
        padding: 0 15px;
        top: -7px;
    }
    .banner_slider .banner_slider_item {
        padding: 0;
        min-height: 600px;
    }
    .banner_slider_text_inner {
        max-width: 100%;
    }
    .banner_slider_text {
        height: auto;
        min-height: auto;
    }
    .bannner_slider_white_box {
        gap: 1rem;
        max-width: 346px;
        width: 100%;
        margin: auto;
    }
}